.contactsBlock {
    height: 100vh;
    background-color: rgba(241, 212, 194, 0.98);
}
/*.contacts{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-end;*/
/*}*/
.allContacts{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.formContacts {
    width: 500px;
}
.formContacts input{
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 15px;
}

.formContacts textarea{
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    margin: 15px;
    padding: 10px 5px;
}

.buttonSend{
    padding: 10px;
}

.myContacts{
    /*width: calc(100%/2);*/
    text-align: center;
}
.myContacts img{
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 50%;
    margin: 20px 60px 20px 30px;
}
.location{
    display: flex;
    align-items: center;
}
.phone{
    display: flex;
    align-items: center;
}
.email{
    display: flex;
    align-items: center;
}


/*....*/
.blockTitle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;

}

.lineBefore {
    width: 100%;
}

.lineBefore:before {
    position: absolute;
    content: '';
    width: calc(100%/3);
    height: 2px;
    background-color: rgba(240, 248, 255, 0.34);
}

.lineAfter {
    width: 100%;
}
.lineAfter:before {
    position: absolute;
    content: '';
    width: calc(100%/3);
    height: 2px;
    background-color: rgba(240, 248, 255, 0.34);
}

.title {
    width: calc(100%/3);
    text-align: center;
    margin: 5px 15px 5px 20px;
    font-size: 30px;
}

/*....*/