.mainBlock{
    min-height: 100vh;
    background-color: white;
}
.aboutMeWrap{
    padding: 80px 0 80px 0;
    width: calc(100% - 450px);
    flex-wrap: wrap;
}
.descriptionText{
    line-height: 2;
}
.descriptionText p{
    margin-bottom: 50px;
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.descriptionText h2{
    color: #474747;
    padding: 0 0 15px;
    margin: 0 0 50px;
    border-bottom: rgba(224,224,224,1) solid 1px;
    font-weight: 400;
}

.mainPhoto img{
    max-width: 450px;
    max-height: 500px;
    /*position: relative;*/
    /*z-index: 100;*/
    padding: 10px;
}

/*.mainPhoto:before{*/
/*    content: "";*/
/*    background-color: #f2f2f2;*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    position: absolute;*/
/*    bottom: -10%;*/
/*    left: -10%;*/
/*    z-index: -1;*/
/*}*/

.aboutMeInformation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.aboutContactWrap{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.1fr 1fr 1.5fr 0.1fr 1fr 1fr;
    gap: 5px;
}
.aboutContactWrap > div {
    font-size: 16px;
    padding: 0;
    text-align: left;
    /*background-color: yellowgreen;*/
    margin-bottom: 10px;
}
