.projectsBlock{
    height: 100vh;
    background-color: #c2f1e1;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.projects{
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




.blockTitle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;

}

.lineBefore {
    width: 100%;
}

.lineBefore:before {
    position: absolute;
    content: '';
    width: calc(100%/3);
    height: 2px;
    background-color: rgba(240, 248, 255, 0.34);
}

.lineAfter {
    width: 100%;
}
.lineAfter:before {
    position: absolute;
    content: '';
    width: calc(100%/3);
    height: 2px;
    background-color: rgba(240, 248, 255, 0.34);
}
.title {
    width: calc(100%/3);
    text-align: center;
    margin: 5px 15px 5px 20px;
    font-size: 30px;
}